body{
   background-image: url("confetiheader.jpg");
}

ul{
  list-style-type: none;
}

h1::before {
  content: "";
  display: inline-block;
    background-image: url(pastel.png);
    background-size: 100% 100%;
    width: 100px;
    height: 150px;
}

h1::after {
  content: "";
  display: inline-block;
    background-image: url(pastel.png);
    background-size: 100% 100%;
    width: 100px;
    height: 150px;
}

h2::first-letter {
    color: rgb(75, 94, 223);
    font-size: xx-large;
}

header{
    text-align: center;
    font-family: 'comic sans', sans-serif;
    background-image: url("confetiheader.jpg");
    color: blue;
}

a:visited {
    color: green;
}

a:hover {
    color: rgb(255, 0, 0);
}

section{
  background-color: rgba(165, 215, 211, 0.73);
  }

section:hover {
    background-color: rgba(97, 241, 8, 0.62);
}

aside{
  font-family: 'comic sans' , sans-serif;
  float: right;
  padding: 135px;
  background-color: rgba(165, 215, 211, 0.53);
  color: white;
}

aside:hover {
    background-color: rgba(246, 6, 236, 0.52);
}

div{
  text-align: center;
  font-family: 'monospace', sans-serif;
  background-color: rgb(15, 221, 244,0.3);
  color: green;
    }


Footer{
    text-align: center;
    font-family: "comic sans" , sans-serif;
    background-color: rgb(231, 120, 193, 0.3);
    color: blue;
  }

  h3::before {
      content: url(face.png);
  }

  h3::after {
      content: url(face.png);
  }
