body {
    background-color: #dcdcdc;
    font-family: 'Noto Sans', sans-serif;
    width: 90%;
    margin: 1em;
}

.nav {
    margin: 0;
    background-color: darkgray;
    min-width: 720px;
    border-radius: 4px;
}

.nav ul, ol {
    list-style: none;
    margin: 1em;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

img {
    width: 170px;
    position: relative;
    top: 2.5px;
    border: 3px dashed white;

}

.image li {
    width: 200px;
    margin: 0;
    padding: 0;
    flex: 0 1 auto;
}

nav h1, h5 {
    margin: 0;
    padding: 0;
    flex: 3 3 auto;
    text-align: center;
    position: relative;
    top: 10px;
    width: 350px;
}


.nav li a{
    padding: 10px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    color: white;
    position: relative;
    top: 25px;
    flex: 0 1 auto;
    background-color: #6c00cc;
    border-radius: 6px;  
    width: 100px; 
}


.nav li a:hover {
    border: 3px dashed white;
    margin: -3px;
}

/******************* Styling employment ************************/
.employment h3 {
    padding: 0;
    margin: 0;
    color: #6c00cc;
}

.employment h4 {
    padding: 0;
    margin: 0;
}

.employment {
    /*width: 100%;*/
    margin: 25px auto;
    font-size: 80%;
    background: rgba(102, 102, 153, 0.1);
    padding: 5px;
    border-radius: 4px;
    min-width: 720px;
    border-bottom: 3px dashed white;
}

/******************* Styling Contact ************************/

.contact {
    /*width: 100%;*/
    margin: 25px auto;
    font-size: 80%;
    background: rgba(102, 102, 153, 0.1);
    padding: 5px;
    border-radius: 4px;
    min-width: 720px;
    border-bottom: 3px dashed white;
}

.contact h3 {
    padding: 0;
    margin: 0;
    color: #6c00cc;
}

.contact h4 {
    padding: 0;
    margin: 0;
}

.contact a {
    padding: 2px;
    margin-top: 30px;
    background-color: #6c00cc;
    color: white; 
    text-decoration: none;
}

.link {
    margin-top: 10px;
}

.contact a:hover {
    border: 1px dashed white;
    margin: -1px;
}

/******************* Styling Footer ************************/

footer {
    text-align: center;
}