
h1 {
    text-align: center;
    color: white;
  }
h2 {
    text-align: center;
    color: white;
}
h3 {
    text-align: center;
    color: white;
}
body {
  	background-color: rgb(41, 73, 103);
  	margin-top: 0%
    auto;
}
#Todoeltexto{
text-align: auto;
margin: auto;
background-color: cyan
}

#parrafo{
text-align: left;
float: left;
width: 60%;
color: black;
overflow: auto;
background-color: rgb(217, 218, 226)
}
#parrafo2 {
  float: right;
width: 40%;
color: black;
overflow: auto;
background-color: rgb(217, 218, 226)
}
#derechos {
	color: inherit;
	text-align: center;
	margin-top: 405px;
	background-color: black;
	height: 25px;
}
.cultos {
  left;
  text-align: center;
  color: black;
}
.origenes{
  right;
  text-align: center;
  color: black
}
.border {
 background-color: black;
}
.image {
  margin: 30px;
  float: left;
}
.image2 {
 margin: 35px;
float: right;
}
