.parrafo{
float: left;
width: 30%;
color: white;
}
.parrafo2 {
float: right;
width: 40%;
color: white;
}
h1 {
    text-align: center;
    color: white;
  }
h2 {
    text-align: center;
    color: white;
}
body {
  	background-color: rgba(11, 135, 34);
  	margin-top: -20px;
  	height: 100px;
  	color: white;
  	margin-left: 90px;
  	margin-right: 90px;
}
.span {
  text-align: center;
  color: white;
}
.border {
  border-style: none;
 background-color: grey;
}
.image {
  margin: 30px;
  float: left;
}
.image2 {
  margin: 30px;
  float: right;
}
